body{
background-color: rgb(250, 246, 246);
font-family: Arial, Helvetica, sans-serif;
padding: 20px;

    
}

.container{

    width: 70%;
    border-color:rgb(232, 230, 230) ;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    outline-width: 2px;
    outline-color: #e5ebe5 ;
    background-color: rgb(255, 255, 255) ;
    border: 0px solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 320px;
    max-width: 1000px;
    box-sizing: border-box;


}

.containermali{

    width: 90%;
    border-color:rgb(232, 230, 230) ;
    margin: auto;
    border-radius: 12px;
    outline-width: 2px;
    outline-color: #e5ebe5 ;
    background-color: rgb(255, 255, 255) ;
    border: 1px solid gainsboro;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    box-sizing: border-box;



}
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #e7eaee;
    font-size: 0.95rem;
    outline-color: gainsboro;
}

.checkboxcontainer {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.checkboxcontainer input[type="checkbox"] {
    width: auto;
    margin: 0;
    cursor: pointer;
}

.checkboxcontainer label {
    cursor: pointer;
    font-size: 0.95rem;
    color: #333;
}


input,select,option{
    width: 100%;
}

button{
    background-color: rgb(89, 0, 255);
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}


table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
th{
    background-color: rgb(254, 254, 255);
    color:rgb(0, 0, 0);
    padding:12px;

}


.tdcolorwhite td{
    background-color: rgb(255, 255, 255);
    color:black;
    padding:12px;
    text-align: left;
    
}
tr{
    margin-bottom: 15px;
    border: 1px solid beige;
    text-align: left;

}

.h1listakorisnika{
    width: 90%;
    margin: 20px auto;

}

h1{
    padding-bottom:  8px;
    width: 200px;
    
    
