body{
background-color: rgb(250, 246, 246);
font-family: Arial, Helvetica, sans-serif;
padding 20px;

    
}

.container{

    width: 50%;
    border-color:rgb(232, 230, 230) ;
    margin: auto;
    outline-style: auto;
    border-radius: 12px;
    outline-width: 2px;
    outline-color: #e5ebe5 ;
    background-color: rgb(255, 255, 255) ;
    border: 0px solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;



}

.containermali{

    width: 90%;
    border-color:rgb(232, 230, 230) ;
    margin: auto;
    outline-style: auto;
    border-radius: 12px;
    outline-width: 2px;
    outline-color: #e5ebe5 ;
    background-color: rgb(255, 255, 255) ;
    border: 1px solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;



}



input,select,option{
    width: 100%;
}

button{
    background-color: rgb(89, 0, 255);
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}


table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
th{
    background-color: rgb(254, 254, 255);
    color:rgb(0, 0, 0);
    padding:12px;

}


.tdcolorwhite{
    background-color: rgb(255, 255, 255);
    color:black;
    padding:12px;
    
}
tr{
    margin-bottom: 15px;
    border: 1px solid beige;
    text-align: left;

}

.h1listakorisnika{
    width: 90%;
    margin: 20px auto;

}

h1{
    padding-bottom:  8px;
    width: 200px;
    
    
