body{
    background-color: green;
    
}
/**glavni obrub**/
.box {
    width: 90%;
    margin: auto;
    outline-style: auto;
    border-radius: 12px;
    outline-width: 2px;
    outline-color: #b3d3b3 ;
    background-color: aliceblue ;
    border: 0px solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;





}
/** velicina glavnog naslova **/
.h1naslov{
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
/**velicina i oblik podnaslova**/
.h2podnaslov{
    text-align: center;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #8e8888;
}
/**velicina pocetnih slova O naspram ostalih sa span funkcijom**/
.velikoslovoO{
    font-size: 1.3em;
}/** velicina pocetnog slova W naspram ostalih slova sa span funkcijom **/
.velikoslovoW{
    font-size: 1.3em;
}
/**sekundarni obrub u glavnom obrubu gdje je slika**/
.littlebox{
    width: 95%;
    margin: auto;
    outline-style: auto;
    border-radius: 12px;
    outline-width: 2px;
    outline-color:antiquewhite ;
    background-color: aliceblue ;
    border: 0px solid;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;


}

p{
    text-align: center;
    font-size: larger;
}

#oblik_teksta{
    font-family: sans-serif;
    font-style: italic;
}